*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, white, black);
}
.container{
    margin-top: 10px;
    border-radius: 20px;
    width: 50%;
    height: 50vh;
    background: transparent;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: -10px;
    color: white;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
#input{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    outline: red;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    border-radius: 10px;
}
.input-1{
    display: flex;
    gap: 10px;
    font-weight: bolder;
}
.input-2{
    display: flex;
    gap: 10px;
    font-weight: bolder;
}
button{
    padding: 10px 15px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: 0.5px white solid;
    background-color: white;
    color: black;
    font-size: .9em;
    font-weight: bolder;

}
p{
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}


@media (max-width: 500px) {
    body{
        background: linear-gradient(to left, red, white);

    }
    .container{
        margin-top: 10px;
        border-radius: 20px;
        width: 90%;
        height: 50vh;
        background: transparent;
        box-shadow: 0px 0px 10px ;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    
}    

